* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-100vw);
  transition: all;
}

.hide {
  display: none;
}

.show {
  animation-name: moveRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

.Box-show {
  display: block;
  transform: translateX(-100%);
  animation: moveRight2 2s forwards ease-in;
}

.Box-show:hover {
  background: pink;
}

@keyframes moveRight2 {
  to {
    transform: translateX(0);
  }
}