* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px;
  margin: 5px;
}

label {
  font-size: 1.75rem;
  margin: 15px 5px 5px 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.black {
  color: black;
}